name: Check changes in dependencies

on:
  pull_request:
    branches:
      - main
    paths:
      - 'package.json'

permissions:
  contents: read
  actions: read
  pull-requests: write

jobs:
  check_dependencies:
    uses: IT-Service-NPM/.github/.github/workflows/check-dependencies.yml@main
    secrets: inherit
